body {
  font-family: tahoma;
}
h1 {
  text-align: center;
  font-size: 3em;
}
h3 {
  padding-top: 50px;
  padding-bottom: 50px;
}

#resultA, #resultB, #resultC, #resultD, #resultE, #resultF, #citation {
  display: none;
}
.radio {
  padding-left: 30px;
}
